<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.blizzrdof77.alfred.cardhopper</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>DEBBA624-A11B-45E1-B014-A5C5434DBCE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77072C79-C627-4554-ACE9-C6FA55473C5E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F85BCB77-5010-4621-9108-D38285F14303</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy contact card information to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Simple Digital</string>
	<key>description</key>
	<string>Query Cardhop Contacts in Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Cardhopper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>tell application "Cardhop" to parse sentence "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77072C79-C627-4554-ACE9-C6FA55473C5E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hop</string>
				<key>subtext</key>
				<string>Run a Query Using Cardhop</string>
				<key>text</key>
				<string>Search &amp; Manage Contacts via Cardhop</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DEBBA624-A11B-45E1-B014-A5C5434DBCE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>tell application "Cardhop" to parse sentence "copy {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F85BCB77-5010-4621-9108-D38285F14303</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Manage, query, and search your contacts through Alfred by passing queries through to the Cardhop MacOS App.</string>
	<key>uidata</key>
	<dict>
		<key>77072C79-C627-4554-ACE9-C6FA55473C5E</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>DEBBA624-A11B-45E1-B014-A5C5434DBCE8</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>F85BCB77-5010-4621-9108-D38285F14303</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>https://github.com/blizzrdof77/alfred-cardhop.git</string>
</dict>
</plist>
